{% extends 'base/base.html' %}

{% block main %}
    <div class="d-flex w-100 text-center flex-column m-auto" style="max-width: 42em">
        <h1 class="mt-5">This is a Simple Blog.</h1>
        <h4>
            It was created using Flask microframework
            by <a href="https://github.com/tuguzT">tuguzT</a>
            as CISM integration internship project.
        </h4>
        <h4>
            Source code of this simple blog app is located
            <a href="https://github.com/tuguzT/flask_simple_blog">here</a>.
        </h4>
    </div>
{% endblock %}
