{% extends 'base.html' %}

{% block main %}
    <h1 class="mt-5">Register</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=64) }}<br>
            {% for error in form.username.errors %}
                <span class="bg-danger">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=48) }}<br>
            {% for error in form.password.errors %}
                <span class="bg-danger">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.repeat_password.label }}<br>
            {{ form.repeat_password(size=48) }}<br>
            {% for error in form.repeat_password.errors %}
                <span class="bg-danger">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
