{% extends 'base/base.html' %}

{% block main %}
    <h1 class="mt-5">Register</h1>
    <form id="register_form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="{{ form.username.id }}" class="form-label">{{ form.username.label.text }}</label>
            {% set class = 'form-control' + (' is-invalid' if form.username.errors|length > 0 else '') %}
            {{ form.username(class=class) }}
            {% if form.username.errors|length > 0 %}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="{{ form.password.id }}" class="form-label">{{ form.password.label.text }}</label>
            {% set class = 'form-control' + (' is-invalid' if form.password.errors|length > 0 else '') %}
            {{ form.password(class=class) }}
            {% if form.password.errors|length > 0 %}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="{{ form.repeat_password.id }}" class="form-label">{{ form.repeat_password.label.text }}</label>
            {% set class = 'form-control' + (' is-invalid' if form.repeat_password.errors|length > 0 else '') %}
            {{ form.repeat_password(class=class) }}
            {% if form.repeat_password.errors|length > 0 %}
                <div class="invalid-feedback">
                    {% for error in form.repeat_password.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form.submit(class='btn btn-primary') }}
    </form>
    <div class="mt-4">
        Have account? <a href="{{ url_for('login') }}">Log in</a>
    </div>
{% endblock %}
