{% macro render_post(post, show_author=false) %}
    <li class="list-group-item d-flex justify-content-between align-items-start" id="{{ post.id }}">
        <div class="ms-2 m-1">
            <h5>
                {% if show_author %}
                    {% set author_name = post.author.name %}
                    <a class="fw-bold" href="{{ url_for('user', name=author_name) }}">{{ author_name }}</a>:
                {% endif %}
                {{ post.title }}
            </h5>
            {{ post.text_content }}
        </div>
        <div>
            <button type="button" class="btn btn-sm btn-outline-danger" onclick="soft_delete_post('{{ post.id }}')">
                Delete
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary" onclick="restore_post('{{ post.id }}')">
                Restore
            </button>
        </div>
    </li>
{% endmacro %}

{% macro render_posts(posts, show_author=false, no_posts='No posts found') %}
    {% if posts is iterable and posts|length > 0 %}
        <script type="text/javascript">
            function soft_delete_post(post_id) {
                const object = {id: post_id};
                post_json('{{ url_for('soft_delete_post') }}', object)
                    .then(response => {
                        if (!response.ok) return Promise.reject(response);
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        window.location.reload();
                    })
                    .catch(error => error.json().then(error => console.warn(error)));
            }

            function restore_post(post_id) {
                const object = {id: post_id};
                post_json('{{ url_for('restore_post') }}', object)
                    .then(response => {
                        if (!response.ok) return Promise.reject(response);
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        window.location.reload();
                    })
                    .catch(error => error.json().then(error => console.warn(error)));
            }
        </script>
        <div class="list-group mb-5">
            {% for post in posts %}
                {{ render_post(post, show_author) }}
            {% endfor %}
        </div>
    {% else %}
        {{ no_posts }}
    {% endif %}
{% endmacro %}
