{% macro render_post(post, current_user, button_tags=[], show_author=false) %}
    <li class="list-group-item d-flex justify-content-between align-items-start" id="{{ post.id }}">
        <div class="ms-2 m-1">
            <h5>
                {% if show_author %}
                    {% set author_name = post.author.name %}
                    <a class="fw-bold" href="{{ url_for('user', name=author_name) }}">{{ author_name }}</a>:
                {% endif %}
                {{ post.title }}
            </h5>
            {{ post.text_content }}
        </div>
        {% if current_user.id == post.author.id %}
            <div>
                {% if 'soft_delete' in button_tags %}
                    <button type="button" class="btn btn-sm btn-outline-danger"
                            onclick="soft_delete_post('{{ post.id }}')">
                        Delete
                    </button>
                {% endif %}
                {% if 'delete' in button_tags %}
                    <button type="button" class="btn btn-sm btn-danger" onclick="delete_post('{{ post.id }}')">
                        Delete
                    </button>
                {% endif %}
                {% if 'restore' in button_tags %}
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            onclick="restore_post('{{ post.id }}')">
                        Restore
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </li>
{% endmacro %}

{% macro render_posts(posts, current_user, button_tags=[], show_author=false, no_posts='No posts found') %}
    {% if posts is iterable and posts|length > 0 %}
        <script type="text/javascript">
            function handle_post(url, post_id) {
                const object = {id: post_id};
                post_json(url, object)
                    .then(response => {
                        if (!response.ok) return Promise.reject(response);
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        const post = document.getElementById(post_id);
                        post.remove();

                        const post_list = document.getElementById('post_list');
                        if (post_list.children.length === 0) {
                            const div = document.createElement('div');
                            div.innerHTML = '{{ no_posts }}';
                            const replacement = div.firstChild;
                            post_list.parentNode.replaceChild(replacement, post_list);
                        }
                    })
                    .catch(error => error.json().then(error => console.warn(error)));
            }

            const soft_delete_post = (post_id) => handle_post('{{ url_for('soft_delete_post') }}', post_id);
            const delete_post = (post_id) => handle_post('{{ url_for('delete_post') }}', post_id);
            const restore_post = (post_id) => handle_post('{{ url_for('restore_post') }}', post_id);
        </script>
        <div class="list-group mb-5" id="post_list">
            {% for post in posts %}
                {{ render_post(post, current_user, button_tags, show_author) }}
            {% endfor %}
        </div>
    {% else %}
        {{ no_posts }}
    {% endif %}
{% endmacro %}
