{% macro render_post(post, show_author=false) %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 m-1">
            <h5>
                {% if show_author %}
                    {% set author_name = post.author.name %}
                    <a class="fw-bold" href="{{ url_for('user', name=author_name) }}">{{ author_name }}</a>:
                {% endif %}
                {{ post.title }}
            </h5>
            {{ post.text_content }}
        </div>
        <div>
            <button type="button"
                    class="btn btn-sm btn-outline-danger"
                    id="post_{{ post.id }}"
                    onclick="soft_delete_post(this.id)">Delete
            </button>
            <button type="button"
                    class="btn btn-sm btn-outline-primary"
                    id="post_{{ post.id }}"
                    onclick="restore_post(this.id)">Restore
            </button>
        </div>
    </li>
{% endmacro %}

{% macro render_posts(posts, show_author=false, no_posts='No posts found') %}
    {% if posts is iterable and posts|length > 0 %}
        <script type="text/javascript">
            function post_json(url, json) {
                const init = {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(json),
                };
                return fetch(url, init);
            }

            function soft_delete_post(button_id) {
                if (button_id.startsWith('post_')) {
                    const post_id = button_id.substring(5)
                    console.log(post_id)
                    const object = {id: post_id}
                    post_json('{{ url_for('soft_delete_post') }}', object)
                        .then(result => {
                            console.log(result)
                            if (result.ok) {
                                window.location.reload()
                            }
                        })
                }
            }

            function restore_post(button_id) {
                if (button_id.startsWith('post_')) {
                    const post_id = button_id.substring(5)
                    console.log(post_id)
                    const object = {id: post_id}
                    post_json('{{ url_for('restore_post') }}', object)
                        .then(result => {
                            console.log(result)
                            if (result.ok) {
                                window.location.reload()
                            }
                        })
                }
            }
        </script>
        <div class="list-group">
            {% for post in posts %}
                {{ render_post(post, show_author) }}
            {% endfor %}
        </div>
    {% else %}
        {{ no_posts }}
    {% endif %}
{% endmacro %}
